* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.main {
  margin: 100px auto 20px auto; }

body {
  background: url("../src/multimedia/img/fondo-texturizado-negro.jpg") fixed center;
  color: #dddddd; }

/* Colores */
/* Colores Redes Sociales*/
body {
  font-family: "Roboto", "Open Sans", Sans-serif;
  font-size: 16px; }

/* Flex */
.photo-grid-container, .photo-grid-container .photo-grid, .container-newsletter .newsletter, .container-newsletter .newsletter .inputNewsletter, .container-newsletter .newsletter .btnNewsletter, .nos-container, .banner-envios, .container-servicio .row, .container-servicio .row div, .container-servicio .row .service-thumb, .fixed-wapp, div .contenedor-zapatillas,
div .contenedor-tees,
div .contenedor-hoddies,
div .contenedor-boardshorts,
div .contenedor-accesorios,
div .contenedor-shorts, .btn-productos-container, .container-form-contacto, .container-form-contacto .title-section-contacto, .form-contacto input, .form-contacto input[type="text"],
.form-contacto input[type="email"],
.form-contacto textarea, .mapa, section iframe, footer .contenedor, .contenedor-horas, footer .titulo-horarios, footer .titulo-ubi, footer .titulo-redes, .contenedor-horas ul, .contenedor-horas ul .lun-vier, .contenedor-horas ul .sab, .contenedor-horas ul .dom, .copyright {
  display: flex;
  justify-content: center; }

.photo-grid-container .photo-grid-title, .client-sex,
.client-civil, .check-newsletter {
  display: flex;
  justify-content: start; }

/* Mixins */
.brand-title {
  font-family: "Calligraffitti";
  font-weight: 700;
  margin-top: 10px;
  font-size: 2rem; }

.color-principal {
  background-color: #d6970e; }

/* Galeria */
.photo-grid-container {
  flex-direction: column;
  margin: 0px 10px 0 10px; }
  .photo-grid-container .photo-grid-title {
    font-size: 2.5em;
    text-align: left;
    margin: 30px;
    color: #dddddd;
    color: #d6970e; }
  .photo-grid-container .photo-grid {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row; }
    .photo-grid-container .photo-grid .photo-grid-item {
      width: 33%; }
      .photo-grid-container .photo-grid .photo-grid-item .item-title {
        position: absolute;
        top: 30px;
        left: 10px;
        border: #dddddd solid 4px;
        padding: 2px; }
    .photo-grid-container .photo-grid img {
      opacity: .7;
      transition: all; }
      .photo-grid-container .photo-grid img:hover {
        opacity: 1;
        -webkit-transition: all .7s ease;
        -o-transition: all .7s ease;
        transition: all .7s ease;
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg); }

/* NEWSLETTER */
.container-newsletter {
  display: flex;
  justify-content: right;
  width: 100%; }
  .container-newsletter .newsletter {
    width: 100%;
    height: 90%;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    border: solid 3px #d6970e;
    border-radius: 10px; }
    .container-newsletter .newsletter .textNewsletter {
      font-size: 1.25rem;
      font-style: italic;
      color: #d6970e;
      text-decoration: underline 3px;
      letter-spacing: 2px;
      text-align: center;
      width: 100%; }
    .container-newsletter .newsletter .inputNewsletter {
      width: 100%;
      padding: 5px;
      margin: 10px 0;
      border: #fff 2px solid;
      border-radius: 5px;
      background-color: black;
      color: #dddddd; }
    .container-newsletter .newsletter .btnNewsletter {
      margin: 10px 20px;
      padding: 5px 5px;
      text-align: center;
      background-color: black;
      color: #d6970e;
      width: 90%;
      font-weight: bold;
      border-radius: 5px;
      border-color: #dddddd; }
      .container-newsletter .newsletter .btnNewsletter:hover {
        text-decoration: none;
        color: #dddddd;
        background-color: #d6970e; }

/* NOSOTROS */
.nos-container {
  margin: auto auto;
  width: 90%; }
  .nos-container .titulo-nos {
    font-size: 2.5em;
    text-align: left;
    margin: 30px;
    color: #d6970e;
    display: block; }
  .nos-container .dreams-item {
    font-size: 1.5rem;
    font-weight: bold; }

/* SECTION BANNER */
.banner-envios {
  margin: 30px auto;
  width: 100%;
  overflow: cover; }
  .banner-envios .contenedor-banner img {
    width: 1200px;
    transition: all; }
    .banner-envios .contenedor-banner img:hover {
      transition: all 1s;
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }

/* SECTION SERVICIOS*/
.container-servicio {
  width: 90%;
  background-color: #d6970e;
  margin: 20px auto;
  display: flex;
  padding: 15px;
  border-radius: 10px; }
  .container-servicio .row {
    width: 100%; }
    .container-servicio .row div {
      flex-direction: column;
      align-items: center; }
    .container-servicio .row .service-thumb {
      background-color: black;
      color: #dddddd;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      align-items: center; }
    .container-servicio .row .service-title {
      letter-spacing: 3px;
      margin: 10px 0 5px;
      font-size: 14px;
      color: black; }
    .container-servicio .row .service-content {
      letter-spacing: 2px; }

/* AYUDA Y WAPP ABSOLUTOS */
.fixed-wapp {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #37e627;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 10px; }
  .fixed-wapp a {
    color: #dddddd;
    text-decoration: none; }

.fixed-help {
  width: 80px;
  height: 50px;
  border-radius: 100px;
  background-color: #dddddd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  right: 90px;
  bottom: 10px; }
  .fixed-help a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row; }

/* MEDIAQUERIES */
@media screen and (min-width: 481px) and (max-width: 960px) {
  .nos-container {
    display: flex;
    justify-content: center;
    flex-direction: column; }

  .banner-envios {
    width: 100%; }
    .banner-envios .contenedor-banner {
      width: 100%; } }
@media screen and (max-width: 480px) {
  .nos-container {
    display: flex;
    justify-content: center;
    flex-direction: column; }

  .photo-grid-container {
    display: flex; }
    .photo-grid-container .photo-grid {
      display: flex;
      flex-direction: column; }
      .photo-grid-container .photo-grid .photo-grid-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        width: 100%; }
        .photo-grid-container .photo-grid .photo-grid-item .item-title {
          display: none; }

  .banner-envios {
    display: none; }

  .fixed-help, .fixed-wapp {
    display: none; } }
/* Mapas */
.border {
  border: 2px solid #d6970e; }

.border-radius {
  border-radius: 5px; }

/* Flex */
.photo-grid-container, .photo-grid-container .photo-grid, .container-newsletter .newsletter, .container-newsletter .newsletter .inputNewsletter, .container-newsletter .newsletter .btnNewsletter, .nos-container, .banner-envios, .container-servicio .row, .container-servicio .row div, .container-servicio .row .service-thumb, .fixed-wapp, div .contenedor-zapatillas,
div .contenedor-tees,
div .contenedor-hoddies,
div .contenedor-boardshorts,
div .contenedor-accesorios,
div .contenedor-shorts, .btn-productos-container, .container-form-contacto, .container-form-contacto .title-section-contacto, .form-contacto input, .form-contacto input[type="text"],
.form-contacto input[type="email"],
.form-contacto textarea, .mapa, section iframe, footer .contenedor, .contenedor-horas, footer .titulo-horarios, footer .titulo-ubi, footer .titulo-redes, .contenedor-horas ul, .contenedor-horas ul .lun-vier, .contenedor-horas ul .sab, .contenedor-horas ul .dom, .copyright {
  display: flex;
  justify-content: center; }

.photo-grid-container .photo-grid-title, .client-sex,
.client-civil, .check-newsletter {
  display: flex;
  justify-content: start; }

/* Mixins */
.title-section-productos {
  font-size: 2.5em;
  color: #d6970e;
  text-align: left;
  margin: 10px auto; }

div .contenedor-zapatillas,
div .contenedor-tees,
div .contenedor-hoddies,
div .contenedor-boardshorts,
div .contenedor-accesorios,
div .contenedor-shorts {
  width: 80%;
  height: auto;
  padding: 20px 20px;
  margin: 20px auto;
  flex-direction: column;
  align-items: center; }
  div .contenedor-zapatillas .price-producto,
  div .contenedor-tees .price-producto,
  div .contenedor-hoddies .price-producto,
  div .contenedor-boardshorts .price-producto,
  div .contenedor-accesorios .price-producto,
  div .contenedor-shorts .price-producto {
    font-weight: 400; }
    div .contenedor-zapatillas .price-producto .old-price,
    div .contenedor-tees .price-producto .old-price,
    div .contenedor-hoddies .price-producto .old-price,
    div .contenedor-boardshorts .price-producto .old-price,
    div .contenedor-accesorios .price-producto .old-price,
    div .contenedor-shorts .price-producto .old-price {
      text-decoration: line-through;
      color: gray;
      font-weight: 400; }
    div .contenedor-zapatillas .price-producto .offer-price,
    div .contenedor-tees .price-producto .offer-price,
    div .contenedor-hoddies .price-producto .offer-price,
    div .contenedor-boardshorts .price-producto .offer-price,
    div .contenedor-accesorios .price-producto .offer-price,
    div .contenedor-shorts .price-producto .offer-price {
      font-weight: 700;
      color: #d6970e; }

.position-relative {
  position: relative !important; }
  .position-relative .labels {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
    text-align: left;
    pointer-events: none;
    color: black; }
    .position-relative .labels .label-circle {
      border-radius: 100%;
      width: 50px;
      height: 50px;
      background-color: #d6970e;
      box-sizing: border-box; }
    .position-relative .labels .label {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      text-align: center; }

.title-grupo {
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
  margin: 10px auto 15px;
  font-weight: 600;
  text-transform: uppercase; }

.price-producto {
  font-size: 1.5em;
  margin: 10px auto; }

.container-selects select {
  background-color: black;
  color: #d6970e;
  width: 150px;
  height: 30px;
  border: 2px solid #d6970e;
  border-radius: 5px; }

.btn-comprar,
.btn-ver {
  height: 30px;
  margin: 10px 20px;
  padding: 5px 10px;
  font-weight: bold;
  background-color: #d6970e;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  color: #dddddd;
  letter-spacing: 2px;
  transition: transform 1s;
  text-decoration: none; }
  .btn-comprar:hover,
  .btn-ver:hover {
    opacity: 0.8;
    color: #dddddd;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }

.foto-producto {
  transition: transform 1s; }
  .foto-producto:hover {
    opacity: 0.9;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

/* Menu lateral */
.products-section-link {
  background-color: #d6970e;
  border-radius: 10px;
  height: 2 0%;
  list-style-type: none; }
  .products-section-link li {
    border-bottom: 2px solid black; }
    .products-section-link li a {
      text-decoration: none;
      color: black;
      letter-spacing: 2px;
      transition: transform 1s;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px; }
      .products-section-link li a:hover {
        color: #dddddd; }
    .products-section-link li:hover {
      border-bottom: 2px solid #dddddd; }

.carousel-90 {
  width: 90%;
  margin: auto; }

/* MEDIAQUERIES */
@media screen and (min-width: 481px) and (max-width: 1010px) {
  .products-section-link {
    display: none; } }
@media screen and (max-width: 480px) {
  .products-section-link {
    display: none; } }
.container-blog {
  color: #dddddd;
  width: 90%;
  margin: 30px auto; }
  .container-blog .title-blog {
    font-size: 2.5em;
    color: #d6970e;
    width: 100%;
    margin-bottom: 20px; }
  .container-blog .grid-blog {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(4, 3fr);
    grid-template-areas: 'articulouno articulouno articulouno' 'articulodos articulotres articulotres' 'articulodos articulocuatro articulocuatro' 'articulocinco articulocinco articuloseis';
    gap: 30px; }
    .container-blog .grid-blog .blog-article-uno {
      grid-area: articulouno; }
    .container-blog .grid-blog .blog-article-dos {
      grid-area: articulodos; }
    .container-blog .grid-blog .blog-article-tres {
      grid-area: articulotres; }
    .container-blog .grid-blog .blog-article-cuatro {
      grid-area: articulocuatro; }
    .container-blog .grid-blog .blog-article-cinco {
      grid-area: articulocinco; }
    .container-blog .grid-blog .blog-article-seis {
      grid-area: articuloseis; }
    .container-blog .grid-blog .blog-article-uno,
    .container-blog .grid-blog .blog-article-dos,
    .container-blog .grid-blog .blog-article-tres,
    .container-blog .grid-blog .blog-article-cuatro,
    .container-blog .grid-blog .blog-article-cinco,
    .container-blog .grid-blog .blog-article-seis {
      border: 2px solid #d6970e;
      padding: 20px;
      border-radius: 5px; }
      .container-blog .grid-blog .blog-article-uno .blog-item-title,
      .container-blog .grid-blog .blog-article-dos .blog-item-title,
      .container-blog .grid-blog .blog-article-tres .blog-item-title,
      .container-blog .grid-blog .blog-article-cuatro .blog-item-title,
      .container-blog .grid-blog .blog-article-cinco .blog-item-title,
      .container-blog .grid-blog .blog-article-seis .blog-item-title {
        font-size: 1.10em;
        color: #d6970e;
        letter-spacing: 1px; }
      .container-blog .grid-blog .blog-article-uno .blog-item-text,
      .container-blog .grid-blog .blog-article-dos .blog-item-text,
      .container-blog .grid-blog .blog-article-tres .blog-item-text,
      .container-blog .grid-blog .blog-article-cuatro .blog-item-text,
      .container-blog .grid-blog .blog-article-cinco .blog-item-text,
      .container-blog .grid-blog .blog-article-seis .blog-item-text {
        font-size: 0.9em; }
      .container-blog .grid-blog .blog-article-uno .btn-read-more,
      .container-blog .grid-blog .blog-article-dos .btn-read-more,
      .container-blog .grid-blog .blog-article-tres .btn-read-more,
      .container-blog .grid-blog .blog-article-cuatro .btn-read-more,
      .container-blog .grid-blog .blog-article-cinco .btn-read-more,
      .container-blog .grid-blog .blog-article-seis .btn-read-more {
        width: 200px;
        height: 30px;
        margin: 5px 0;
        font-weight: bold;
        background-color: #d6970e;
        border: none;
        border-radius: 5px;
        font-size: 0.9em;
        color: black;
        letter-spacing: 2px;
        transition: transform 1s;
        display: flex;
        justify-content: center; }
        .container-blog .grid-blog .blog-article-uno .btn-read-more a,
        .container-blog .grid-blog .blog-article-dos .btn-read-more a,
        .container-blog .grid-blog .blog-article-tres .btn-read-more a,
        .container-blog .grid-blog .blog-article-cuatro .btn-read-more a,
        .container-blog .grid-blog .blog-article-cinco .btn-read-more a,
        .container-blog .grid-blog .blog-article-seis .btn-read-more a {
          text-decoration: none;
          color: #dddddd;
          display: flex;
          align-items: center; }
        .container-blog .grid-blog .blog-article-uno .btn-read-more:hover,
        .container-blog .grid-blog .blog-article-dos .btn-read-more:hover,
        .container-blog .grid-blog .blog-article-tres .btn-read-more:hover,
        .container-blog .grid-blog .blog-article-cuatro .btn-read-more:hover,
        .container-blog .grid-blog .blog-article-cinco .btn-read-more:hover,
        .container-blog .grid-blog .blog-article-seis .btn-read-more:hover {
          opacity: 0.8;
          color: #dddddd;
          transform: scale(1.15); }

@media screen and (min-width: 961px) {
  .blog-article-uno,
  .blog-article-dos,
  .blog-article-tres,
  .blog-article-cuatro,
  .blog-article-cinco,
  .blog-article-seis {
    position: relative; }
    .blog-article-uno .btn-read-more,
    .blog-article-dos .btn-read-more,
    .blog-article-tres .btn-read-more,
    .blog-article-cuatro .btn-read-more,
    .blog-article-cinco .btn-read-more,
    .blog-article-seis .btn-read-more {
      position: absolute;
      bottom: 10px;
      right: 20px; } }
@media screen and (min-width: 481px) and (max-width: 960px) {
  .grid-blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 'articulouno' 'articulodos' 'articulotres' 'articulocuatro' 'articulocinco' 'articuloseis';
    gap: 30px; }
    .grid-blog .blog-article-uno {
      grid-area: articulouno; }
    .grid-blog .blog-article-dos {
      grid-area: articulodos; }
    .grid-blog .blog-article-tres {
      grid-area: articulotres; }
    .grid-blog .blog-article-cuatro {
      grid-area: articulocuatro; }
    .grid-blog .blog-article-cinco {
      grid-area: articulocinco; }
    .grid-blog .blog-article-seis {
      grid-area: articuloseis; } }
@media screen and (max-width: 480px) {
  .grid-blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 'articulouno' 'articulodos' 'articulotres' 'articulocuatro' 'articulocinco' 'articuloseis';
    gap: 30px; }
    .grid-blog .blog-article-uno {
      grid-area: articulouno; }
    .grid-blog .blog-article-dos {
      grid-area: articulodos; }
    .grid-blog .blog-article-tres {
      grid-area: articulotres; }
    .grid-blog .blog-article-cuatro {
      grid-area: articulocuatro; }
    .grid-blog .blog-article-cinco {
      grid-area: articulocinco; }
    .grid-blog .blog-article-seis {
      grid-area: articuloseis; } }
.container-faq {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  color: #dddddd; }
  .container-faq .faq-title {
    width: 1000px;
    margin: 20px;
    font-size: 2.5rem;
    color: #d6970e; }
  .container-faq .faq-item-container {
    display: flex;
    justify-content: center;
    width: 900px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding: 20px;
    border: 2px solid #d6970e; }
    .container-faq .faq-item-container .title-questions {
      color: #d6970e; }
    .container-faq .faq-item-container .faq-item-article {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      margin: 0 10px; }
      .container-faq .faq-item-container .faq-item-article .faq-title-article {
        color: #d6970e;
        text-decoration: underline 2px;
        text-transform: uppercase; }

.main-contacto {
  margin: 20px auto 20px auto; }

.container-form-contacto {
  width: 100%;
  padding: 10px;
  flex-direction: column; }
  .container-form-contacto .title-section-contacto {
    font-size: 2.5em;
    color: #d6970e;
    text-align: left;
    margin: 10px auto; }

.form-contacto {
  background-color: #dddddd;
  width: 600px;
  margin: 20px auto;
  padding: 20px 20px;
  border: 2px solid #d6970e;
  border-radius: 10px;
  color: black;
  font-weight: bold; }

.form-contacto input[type="text"],
.form-contacto input[type="email"],
.form-contacto textarea {
  width: 90%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #d6970e; }

.form-contacto textarea {
  min-height: 80px;
  max-height: 200px;
  min-width: 90%;
  max-width: 90%;
  margin-top: 10px; }

label {
  margin: 10px 10px; }

.client-sex,
.client-civil {
  margin: 10px 0 10px 0; }
  .client-sex select,
  .client-civil select {
    background-color: #dddddd;
    border-radius: 5px;
    border: 2px solid #d6970e; }

.check-newsletter input[type="checkbox"] {
  width: 20px;
  border-radius: 5px;
  margin-left: 50px; }

.form-contacto input[type="submit"],
.form-contacto input[type="reset"] {
  width: 200px;
  margin: 0 auto;
  background: none;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: end;
  align-items: center; }
  .form-contacto input[type="submit"] .form-contacto input[type="submit"]:hover,
  .form-contacto input[type="submit"] .form-contacto input[type="reset"]:hover,
  .form-contacto input[type="reset"] .form-contacto input[type="submit"]:hover,
  .form-contacto input[type="reset"] .form-contacto input[type="reset"]:hover {
    background-color: #d6970e;
    color: #dddddd;
    font-weight: bold; }

.form-contacto input[type="submit"]:hover,
.form-contacto input[type="reset"]:hover {
  background-color: #d6970e;
  color: #dddddd;
  font-weight: bold; }

section iframe {
  max-height: 600px;
  margin: 10px;
  width: 90%; }

@media screen and (max-width: 480px) {
  .mapa {
    display: none; }

  .container-form-contacto {
    width: 479px; } }
footer {
  color: #dddddd; }

.contenedor a {
  color: #dddddd;
  text-align: center;
  width: 90px;
  padding: 15px 0;
  border-radius: 5px;
  font-size: 30px;
  margin: 0 20px; }

.contenedor .twitter:hover {
  background: #1da1f2;
  color: #dddddd;
  transition: 1s; }
.contenedor .facebook:hover {
  background: #3b5998;
  color: #dddddd;
  transition: 1s; }
.contenedor .youtube:hover {
  background: #ff0000;
  color: #dddddd;
  transition: 1s; }
.contenedor .whatsapp:hover {
  background: #37e627;
  color: #dddddd;
  transition: 1s; }
.contenedor .instagram:hover {
  background: #405de6;
  color: #dddddd;
  transition: 1s; }

.contenedor-horas {
  flex-wrap: wrap;
  flex-direction: row; }

footer .titulo-horarios, footer .titulo-ubi, footer .titulo-redes {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 15px;
  font-weight: lighter;
  text-decoration: underline solid 2px;
  letter-spacing: 2px;
  color: #dddddd;
  width: 100%; }

.contenedor-horas ul {
  width: 100%;
  padding-left: 0;
  flex-direction: column; }
  .contenedor-horas ul .lun-vier, .contenedor-horas ul .sab, .contenedor-horas ul .dom {
    list-style-type: none;
    text-align: center;
    font-size: 1.25em;
    margin: 10px; }

.contenedor-ubi .calle {
  text-align: center;
  font-size: 1.25em; }
  .contenedor-ubi .calle a {
    text-decoration: none;
    color: #dddddd; }

.copyright {
  margin-bottom: 10px; }
  .copyright a {
    text-decoration: underline;
    color: #dddddd;
    margin: 0 3px 0 3px; }

/* PAYMENT METHODS */
.payments-methods {
  background-color: #d6970e; }

.title-payments-methods {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px; }

.img-payment-methods img {
  width: 60px;
  height: 30px; }

@media screen and (min-width: 481px) and (max-width: 960px) {
  .contenedor-hu {
    display: flex;
    flex-direction: column; }
    .contenedor-hu .contenedor-horas,
    .contenedor-hu .contenedor-ubi {
      display: flex;
      justify-content: center;
      flex-direction: column; } }
body {
  background: url("../src/multimedia/img/fondo-texturizado-negro.jpg") fixed center;
  color: #dddddd; }

/* Colores */
/* Colores Redes Sociales*/
body {
  font-family: "Roboto", "Open Sans", Sans-serif;
  font-size: 16px; }

/* Mapas */
.border {
  border: 2px solid #d6970e; }

.border-radius {
  border-radius: 5px; }

/* Flex */
.photo-grid-container, .photo-grid-container .photo-grid, .container-newsletter .newsletter, .container-newsletter .newsletter .inputNewsletter, .container-newsletter .newsletter .btnNewsletter, .nos-container, .banner-envios, .container-servicio .row, .container-servicio .row div, .container-servicio .row .service-thumb, .fixed-wapp, div .contenedor-zapatillas,
div .contenedor-tees,
div .contenedor-hoddies,
div .contenedor-boardshorts,
div .contenedor-accesorios,
div .contenedor-shorts, .btn-productos-container, .container-form-contacto, .container-form-contacto .title-section-contacto, .form-contacto input, .form-contacto input[type="text"],
.form-contacto input[type="email"],
.form-contacto textarea, .mapa, section iframe, footer .contenedor, .contenedor-horas, footer .titulo-horarios, footer .titulo-ubi, footer .titulo-redes, .contenedor-horas ul, .contenedor-horas ul .lun-vier, .contenedor-horas ul .sab, .contenedor-horas ul .dom, .copyright {
  display: flex;
  justify-content: center; }

.photo-grid-container .photo-grid-title, .client-sex,
.client-civil, .check-newsletter {
  display: flex;
  justify-content: start; }

/* Mixins */

/*# sourceMappingURL=style.css.map */
