* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.main {
	margin: 0 auto 20px auto;
}



@import "components/index";
@import "components/productos";
@import "components/blog";
@import "components/faq";
@import "components/contacto";
@import "components/footer";
@import "base/colores";
@import "base/fonts";
@import "base/mediaqueries";
@import "base/mapas.scss";
@import "base/extends";
@import "base/mixins";
