

.container-blog {
	color: $color-blanco;
	width: 90%;
	margin: 30px auto;
	.title-blog {
		font-size: 2.5em;
		color: map-get($standard, color-principal);
		width: 100%;
		margin-bottom: 20px;
	}
	.grid-blog{
		display: grid;
		grid-template-columns: repeat(3, 3fr);
		grid-template-rows: repeat(4, 3fr);
		grid-template-areas: 'articulouno articulouno articulouno'
		'articulodos articulotres articulotres'
		'articulodos articulocuatro articulocuatro'
		'articulocinco articulocinco articuloseis';
		gap: 20px;
			.blog-article-uno {grid-area: articulouno;}
			.blog-article-dos {grid-area: articulodos;}
			.blog-article-tres {grid-area: articulotres;}
			.blog-article-cuatro {grid-area: articulocuatro;}
			.blog-article-cinco {grid-area: articulocinco;}
			.blog-article-seis {grid-area: articuloseis;}
		
		
		
			.blog-article-uno,
			.blog-article-dos,
			.blog-article-tres,
			.blog-article-cuatro,
			.blog-article-cinco,
			.blog-article-seis {
				position: relative;
				width: 100%;
				border: map-get($standard, border-standard );
				padding: 20px;
				border-radius: map-get($standard, border-radius-standard);
				.blog-item-title {
					font-size: 1.10em;
					color: $color-principal;
					letter-spacing: 1px;
				}
				.blog-item-text {
					font-size: 0.9em;
				}
				.btn-read-more {
					width: 200px;
					height: 30px;
					font-weight: bold;
					background-color: map-get($standard, color-principal);
					border: none;
					border-radius: 5px;
					font-size: 0.9em;
					color: rgb(0, 0, 0);
					letter-spacing: 2px;
					transition: transform 1s;
					display: flex;
					justify-content: center;
					position: absolute;
					bottom: 5px;
					right: 15px;
					
					a {
						text-decoration: none;
						color: $color-blanco;
						display: flex;
						align-items: center;
				
						}
					&:hover {
						opacity: 0.8;
						color: map-get($standard, color-claro);
						transform: scale(1.05);
					}
				}
			}
	}


}

@media screen and (min-width: 961px) {}


@media screen and (min-width: 481px) and (max-width: 960px){
	.grid-blog {
		display: grid !important;
		grid-template-columns: repeat(1, 1fr) !important; 
		grid-template-rows: repeat(6, 1fr)!important;
		grid-template-areas: 
		'articulouno'
		'articulodos'
		'articulotres'
		'articulocuatro'
		'articulocinco'
		'articuloseis' !important;
		gap: 20px;
			.blog-article-uno {grid-area: articulouno;}
			.blog-article-dos {grid-area: articulodos;}
			.blog-article-tres {grid-area: articulotres;}
			.blog-article-cuatro {grid-area: articulocuatro;}
			.blog-article-cinco {grid-area: articulocinco;}
			.blog-article-seis {grid-area: articuloseis;}
			
	}
	
	
}


@media screen and (max-width: 480px){
	.grid-blog{
		display: grid !important;
		grid-template-columns: repeat(1, 1fr) !important;
		grid-template-rows: repeat(6, 1fr) !important;
		grid-template-areas: 'articulouno'
		'articulodos'
		'articulotres'
		'articulocuatro'
		'articulocinco'
		'articuloseis' !important;
		gap: 20px !important;
			.blog-article-uno {grid-area: articulouno;}
			.blog-article-dos {grid-area: articulodos;}
			.blog-article-tres {grid-area: articulotres;}
			.blog-article-cuatro {grid-area: articulocuatro;}
			.blog-article-cinco {grid-area: articulocinco;}
			.blog-article-seis {grid-area: articuloseis;}
	}	
}