.main-contacto {
	margin: 20px auto 20px auto;
}

.container-form-contacto {
	width: 90%;
	@extend %c-flex;
	margin: auto;
	padding: 10px;
	flex-direction: column;
		.title-section-contacto {
			font-size: 2.5em;
			color: map-get($standard, color-principal);
			text-align: left;
			margin: 10px auto;
			@extend %c-flex;		
	}
}

.form-contacto {
	background-color: map-get($standard, color-claro);
	width: 100%;
	margin: 20px auto;
	padding: 20px 20px;
	border: map-get($standard, border-standard);
	border-radius: 10px;
	color: map-get($standard, color-oscuro);
	font-weight: bold;
}

.form-contacto input{
	@extend %c-flex;

}

.form-contacto input[type="text"],
.form-contacto input[type="email"],
.form-contacto textarea{
	width: 90%;
	@extend %c-flex;
	padding: 20px;
	margin: 20px auto ;
	border-radius: 3px;
	border: map-get($standard, border-standard);
	font-family: map-get($fonts, Roboto);
}

.form-contacto textarea{
	min-height: 80px;
	max-height: 200px;
	min-width: 90%;
	max-width: 90%;
	margin-top: 10px;
}
label{
	margin: 10px 30px;

}

.client-sex,
.client-civil {
	@extend %s-flex;

	margin: 10px 0 10px 0;
	select {
		background-color: map-get($standard, color-claro);
		border-radius: 5px;
		border: map-get($standard, border-standard);
	}
}

.check-newsletter {
	@extend %s-flex;

		input[type="checkbox"] {
			width: 20px;
			border-radius: 5px;
			margin-left: 50px;
		}
}

.form-contacto input[type="submit"],
.form-contacto input[type="reset"]{
	width: 200px;
	margin: 0 auto;
	background:none;
	border: 2px solid $color-negro;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: map-get($standard, border-radius-standard);
	cursor: pointer;
	font-size: 16px;
	display: flex;
	justify-content: end;
	align-items: center;
    .form-contacto input[type="submit"],
    .form-contacto input[type="reset"] {
        &:hover{
        background-color: map-get($standard, color-principal);
	    color: map-get($standard, color-claro);
	    font-weight: bold;
        }
    }
}

.mapa {
	@extend %c-flex;

}
section iframe {
	margin: 10px;
	width: 90%;
	@extend %c-flex;

}

@media screen and (max-width: 480px){ 
	.mapa {
		display: none;
	}
}