
.container-faq {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap	;
	color: map-get($standard, color-claro);
		.faq-title {
			width: 1000px;
			margin: 20px;
			font-size: 2.5rem;
			font-family: map-get($fonts, Roboto);
			color: map-get($standard, color-principal );
		}
		.faq-item-container {
			display: flex;
			justify-content: center;
			width: 900px;
			height: auto;
			flex-direction: row;
			flex-wrap: wrap;	
			margin: 20px 10px;
			padding: 20px;
			border: map-get($standard, border-standard);
				.title-questions{
					color: map-get($standard, color-principal);
				}
				.faq-item-article {
					display: flex;
					justify-content: start;
					flex-wrap: wrap;
					margin: 0 10px;
						.faq-title-article {
							color: $color-principal;
							text-decoration: underline 2px;
							text-transform: uppercase;
						}
				
				}
		}
}














