.main-contacto {
	margin: 20px auto 20px auto;
}

.container-form-contacto {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px;
	flex-direction: column;
		.title-section-contacto {
			font-size: 2.5em;
			color: $color-principal;
			text-align: left;
			margin: 10px auto;
			display: flex;
			justify-content: center;
		
	}
}


.form-contacto {
	background-color: $color-blanco;
	width: 600px;
	margin: 20px auto;
	padding: 20px 20px;
	border: $color-principal solid 5px;
	border-radius: 10px;
	color: $color-negro;
	font-weight: bold;
}

.form-contacto input{
	display: flex;
	justify-content: center;
}

.form-contacto input[type="text"],
.form-contacto input[type="email"],
.form-contacto textarea{
	width: 90%;
	display: flex;
	justify-content: center;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
	border: 1px solid $color-negro;
	font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
}

.form-contacto textarea{
	min-height: 80px;
	max-height: 200px;
	min-width: 90%;
	max-width: 90%;
	margin-top: 10px;
}
label{
	margin: 10px 10px;

}

.form-contacto input[type="submit"],
.form-contacto input[type="reset"],
.form-contacto input[type="checkbox"],
.form-contacto input[type="radio"],
.form-contacto select{
	width: 200px;
	margin: 0 auto;
	background:none;
	border: 1px solid $color-negro;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
    .form-contacto input[type="submit"],
    .form-contacto input[type="reset"] {
        &:hover{
        background-color: $color-principal;
	    color: $color-blanco;
	    font-weight: bold;
        }
    }
}


.form-contacto input[type="submit"]:hover,
.form-contacto input[type="reset"]:hover{
	background-color: $color-principal;
	color: $color-blanco;
	font-weight: bold;
}

.mapa {
	display: flex;
	justify-content: center;
}
section iframe {
	max-height: 600px;
	margin: 10px;
	width: 90%;
	display: flex;
	justify-content: center;
}
