.title-section-productos {
	font-size: 2.5em;
	color: $color-principal;
	text-align: left;
	margin: 10px auto;
}

div {
    .contenedor-zapatillas,
    .contenedor-tees,
    .contenedor-hoddies,
    .contenedor-boardshorts,
    .contenedor-accesorios,
    .contenedor-shorts {
	    width: 80%;
	    height: auto;
	    padding: 20px 20px;
	    margin: 20px auto;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
			.price-producto {
				font-weight: 400;
					.old-price {
						text-decoration: line-through;
						color: gray;
						font-weight: 400;
					}
					.offer-price {
						font-weight: 700;
						color: $color-principal;
					}
			}
    }
}


.title-grupo {
	font-size: 1.5em;
	text-align: center;
	letter-spacing: 2px;
	width: 100%;
	margin: 10px auto 15px;
	font-weight: 600;
	text-transform: uppercase;
	
}


.price-producto {
	font-size: 1.5em;
	margin: 10px auto;
}

.container-selects  {
    select {
        background-color: $color-negro;
        color: $color-blanco;
        width: 150px;
        height: 30px;
        border: $color-principal solid 3px;
        border-radius: 5px;
    }
}

.btn-productos-container {
	display: flex;
	justify-content: center;
}

.btn-comprar,
.btn-ver {
	height: 30px;
	margin: 10px 20px;
	padding: 5px 10px;
	font-weight: bold;
	background-color: $color-principal;
	border: none;
	border-radius: 5px;
	font-size: 0.9em;
	color: $color-negro;
	letter-spacing: 2px;
	display: flex;
	justify-content: space-evenly;
	transition: transform 1s;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
	    color: $color-blanco;
	    transform: scale(1.5);
    }
}
.foto-producto{
	transition: transform 1s;
    &:hover {
        opacity: 0.9;
	transition: scale(1.1);
    }
}

/* Menu lateral */

.products-section-link {
	background-color: $color-principal;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: 30%;
	list-style-type: none;
	li {
		a {
			text-decoration: none;
			color: $color-negro;
			letter-spacing: 2px;
			transition: transform 1s;
			text-transform: uppercase;
			font-weight: 600;
			&:hover {
				color: $color-blanco;
			}
		}
		border-bottom: 2px solid $color-negro;
		&:hover {
			border-bottom: 2px solid $color-blanco;
		}
		
	}
}




/* MEDIAQUERIES */

@media screen and (min-width: 1010px) {
	

}

@media screen and (min-width: 481px) and (max-width: 1010px){
	.products-section-link {
		display: none;
	}
}

@media screen and (max-width: 480px){

}
