body {
	background: url('../src/multimedia/img/fondo-texturizado-negro.jpg') fixed center ;
	color: rgb(221, 221, 221)
}

$color-principal: rgb(214, 151, 14);
$color-blanco: rgb(221, 221, 221);
$color-negro: rgb(0, 0, 0);
$background: url('../src/multimedia/img/fondo-texturizado-negro.jpg') fixed center;


/* Colores Redes Sociales*/
$twitter:#1da1f2;
$facebook: #3b5998;
$youtube:#ff0000;
$whatsapp: #37e627;
$instagram: #405de6;